<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    
    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Best Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/djangoapp">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/djangoapp/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" style="color: rgb(43, 238, 238);" href="#">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  style="color: rgb(43, 238, 238);" href="logout/">Logout</a>
                </li>
                {% else %}
                    <li>
                            <a class="btn btn-link" href="/djangoapp/login/">Sign In</a>
                            <a class="btn btn-link" href="/djangoapp/signup/">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <!--Add a dealer table here -->
    <div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <table class="table" id="table"
        data-filter-control="true">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="full_name">Dealer Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>
                <th data-field="zip">Zip</th>
                <th data-field="state" data-filter-control="select">State</th>
            </tr>
        </thead>
                    <tbody>
                
                    <tr>
                        <td>1</td>
                        <td><a href="/djangoapp/dealer/1/">Holdlamis Car Dealership</a></td>
                        <td>El Paso</td>
                        <td>3 Nova Court</td>
                        <td>88563</td>
                        <td>TX</td>
                    </tr>
                
                    <tr>
                        <td>2</td>
                        <td><a href="/djangoapp/dealer/2/">Temp Car Dealership</a></td>
                        <td>Minneapolis</td>
                        <td>6337 Butternut Crossing</td>
                        <td>55402</td>
                        <td>MN</td>
                    </tr>
                
                    <tr>
                        <td>3</td>
                        <td><a href="/djangoapp/dealer/3/">Sub-Ex Car Dealership</a></td>
                        <td>Birmingham</td>
                        <td>9477 Twin Pines Center</td>
                        <td>35285</td>
                        <td>AL</td>
                    </tr>
                
                    <tr>
                        <td>4</td>
                        <td><a href="/djangoapp/dealer/4/">Solarbreeze Car Dealership</a></td>
                        <td>Dallas</td>
                        <td>85800 Hazelcrest Circle</td>
                        <td>75241</td>
                        <td>TX</td>
                    </tr>
                
                    <tr>
                        <td>5</td>
                        <td><a href="/djangoapp/dealer/5/">Regrant Car Dealership</a></td>
                        <td>Baltimore</td>
                        <td>93 Golf Course Pass</td>
                        <td>21203</td>
                        <td>MD</td>
                    </tr>
                
                    <tr>
                        <td>6</td>
                        <td><a href="/djangoapp/dealer/6/">Stronghold Car Dealership</a></td>
                        <td>Wilkes Barre</td>
                        <td>2 Burrows Hill</td>
                        <td>18763</td>
                        <td>PA</td>
                    </tr>
                
                    <tr>
                        <td>7</td>
                        <td><a href="/djangoapp/dealer/7/">Job Car Dealership</a></td>
                        <td>Pueblo</td>
                        <td>9 Cambridge Park</td>
                        <td>81010</td>
                        <td>CO</td>
                    </tr>
                
                    <tr>
                        <td>8</td>
                        <td><a href="/djangoapp/dealer/8/">Bytecard Car Dealership</a></td>
                        <td>Topeka</td>
                        <td>288 Larry Place</td>
                        <td>66642</td>
                        <td>KS</td>
                    </tr>
                
                    <tr>
                        <td>9</td>
                        <td><a href="/djangoapp/dealer/9/">Job Car Dealership</a></td>
                        <td>Dallas</td>
                        <td>253 Hanson Junction</td>
                        <td>75216</td>
                        <td>TX</td>
                    </tr>
                
                    <tr>
                        <td>10</td>
                        <td><a href="/djangoapp/dealer/10/">Alphazap Car Dealership</a></td>
                        <td>Washington</td>
                        <td>108 Memorial Pass</td>
                        <td>20005</td>
                        <td>DC</td>
                    </tr>
                
                    <tr>
                        <td>11</td>
                        <td><a href="/djangoapp/dealer/11/">Rank Car Dealership</a></td>
                        <td>Carol Stream</td>
                        <td>8108 Dryden Court</td>
                        <td>60351</td>
                        <td>IL</td>
                    </tr>
                
                    <tr>
                        <td>12</td>
                        <td><a href="/djangoapp/dealer/12/">Tin Car Dealership</a></td>
                        <td>Silver Spring</td>
                        <td>168 Pawling Lane</td>
                        <td>20918</td>
                        <td>MD</td>
                    </tr>
                
                    <tr>
                        <td>13</td>
                        <td><a href="/djangoapp/dealer/13/">Y-Solowarm Car Dealership</a></td>
                        <td>Baltimore</td>
                        <td>452 Fair Oaks Drive</td>
                        <td>21275</td>
                        <td>MD</td>
                    </tr>
                
                    <tr>
                        <td>14</td>
                        <td><a href="/djangoapp/dealer/14/">It Car Dealership</a></td>
                        <td>San Francisco</td>
                        <td>2109 Scott Parkway</td>
                        <td>94147</td>
                        <td>CA</td>
                    </tr>
                
                    <tr>
                        <td>15</td>
                        <td><a href="/djangoapp/dealer/15/">Tempsoft Car Dealership</a></td>
                        <td>San Antonio</td>
                        <td>5057 Pankratz Hill</td>
                        <td>78225</td>
                        <td>TX</td>
                    </tr>
                
                    <tr>
                        <td>16</td>
                        <td><a href="/djangoapp/dealer/16/">Treeflex Car Dealership</a></td>
                        <td>El Paso</td>
                        <td>0 Rieder Trail</td>
                        <td>79994</td>
                        <td>TX</td>
                    </tr>
                
                    <tr>
                        <td>17</td>
                        <td><a href="/djangoapp/dealer/17/">Home Ing Car Dealership</a></td>
                        <td>San Jose</td>
                        <td>7670 American Ash Drive</td>
                        <td>95138</td>
                        <td>CA</td>
                    </tr>
                
                    <tr>
                        <td>18</td>
                        <td><a href="/djangoapp/dealer/18/">Bitchip Car Dealership</a></td>
                        <td>Whittier</td>
                        <td>4 Pearson Avenue</td>
                        <td>90605</td>
                        <td>CA</td>
                    </tr>
                
                    <tr>
                        <td>19</td>
                        <td><a href="/djangoapp/dealer/19/">Otcom Car Dealership</a></td>
                        <td>Hialeah</td>
                        <td>93 Monument Circle</td>
                        <td>33013</td>
                        <td>FL</td>
                    </tr>
                
                    <tr>
                        <td>20</td>
                        <td><a href="/djangoapp/dealer/20/">Subin Car Dealership</a></td>
                        <td>Detroit</td>
                        <td>4580 Waubesa Lane</td>
                        <td>48224</td>
                        <td>MI</td>
                    </tr>
                
                    <tr>
                        <td>21</td>
                        <td><a href="/djangoapp/dealer/21/">Andalax Car Dealership</a></td>
                        <td>San Francisco</td>
                        <td>046 Mockingbird Junction</td>
                        <td>94154</td>
                        <td>CA</td>
                    </tr>
                
                    <tr>
                        <td>22</td>
                        <td><a href="/djangoapp/dealer/22/">Y-Solowarm Car Dealership</a></td>
                        <td>Fort Lauderdale</td>
                        <td>45737 Butternut Lane</td>
                        <td>33330</td>
                        <td>FL</td>
                    </tr>
                
                    <tr>
                        <td>23</td>
                        <td><a href="/djangoapp/dealer/23/">Bitchip Car Dealership</a></td>
                        <td>Des Moines</td>
                        <td>21425 Bartelt Pass</td>
                        <td>50936</td>
                        <td>IA</td>
                    </tr>
                
                    <tr>
                        <td>24</td>
                        <td><a href="/djangoapp/dealer/24/">Aerified Car Dealership</a></td>
                        <td>Utica</td>
                        <td>408 Delaware Circle</td>
                        <td>13505</td>
                        <td>NY</td>
                    </tr>
                
                    <tr>
                        <td>25</td>
                        <td><a href="/djangoapp/dealer/25/">Opela Car Dealership</a></td>
                        <td>Washington</td>
                        <td>6505 Melrose Junction</td>
                        <td>20580</td>
                        <td>DC</td>
                    </tr>
                
                    <tr>
                        <td>26</td>
                        <td><a href="/djangoapp/dealer/26/">Flowdesk Car Dealership</a></td>
                        <td>Pittsburgh</td>
                        <td>306 Jenna Parkway</td>
                        <td>15279</td>
                        <td>PA</td>
                    </tr>
                
                    <tr>
                        <td>27</td>
                        <td><a href="/djangoapp/dealer/27/">Namfix Car Dealership</a></td>
                        <td>San Antonio</td>
                        <td>95321 Superior Hill</td>
                        <td>78245</td>
                        <td>TX</td>
                    </tr>
                
                    <tr>
                        <td>28</td>
                        <td><a href="/djangoapp/dealer/28/">Fixflex Car Dealership</a></td>
                        <td>Hialeah</td>
                        <td>5458 Maple Way</td>
                        <td>33018</td>
                        <td>FL</td>
                    </tr>
                
                    <tr>
                        <td>29</td>
                        <td><a href="/djangoapp/dealer/29/">Fix San Car Dealership</a></td>
                        <td>San Francisco</td>
                        <td>9 Harper Circle</td>
                        <td>94110</td>
                        <td>CA</td>
                    </tr>
                
                    <tr>
                        <td>30</td>
                        <td><a href="/djangoapp/dealer/30/">Opela Car Dealership</a></td>
                        <td>Houston</td>
                        <td>5423 Spaight Road</td>
                        <td>77218</td>
                        <td>TX</td>
                    </tr>
                
                    <tr>
                        <td>31</td>
                        <td><a href="/djangoapp/dealer/31/">Fintone Car Dealership</a></td>
                        <td>New York City</td>
                        <td>5 Northfield Pass</td>
                        <td>10131</td>
                        <td>NY</td>
                    </tr>
                
                    <tr>
                        <td>32</td>
                        <td><a href="/djangoapp/dealer/32/">Subin Car Dealership</a></td>
                        <td>Wilkes Barre</td>
                        <td>3 Carey Junction</td>
                        <td>18768</td>
                        <td>PA</td>
                    </tr>
                
                    <tr>
                        <td>33</td>
                        <td><a href="/djangoapp/dealer/33/">Tres-Zap Car Dealership</a></td>
                        <td>Des Moines</td>
                        <td>627 Cottonwood Circle</td>
                        <td>50335</td>
                        <td>IA</td>
                    </tr>
                
                    <tr>
                        <td>34</td>
                        <td><a href="/djangoapp/dealer/34/">Gembucket Car Dealership</a></td>
                        <td>Silver Spring</td>
                        <td>8 Green Hill</td>
                        <td>20904</td>
                        <td>MD</td>
                    </tr>
                
                    <tr>
                        <td>35</td>
                        <td><a href="/djangoapp/dealer/35/">Treeflex Car Dealership</a></td>
                        <td>Seattle</td>
                        <td>9 Beilfuss Trail</td>
                        <td>98158</td>
                        <td>WA</td>
                    </tr>
                
                    <tr>
                        <td>36</td>
                        <td><a href="/djangoapp/dealer/36/">Latlux Car Dealership</a></td>
                        <td>Vienna</td>
                        <td>311 Paget Alley</td>
                        <td>22184</td>
                        <td>VA</td>
                    </tr>
                
                    <tr>
                        <td>37</td>
                        <td><a href="/djangoapp/dealer/37/">Ventosanzap Car Dealership</a></td>
                        <td>Detroit</td>
                        <td>152 Moland Lane</td>
                        <td>48224</td>
                        <td>MI</td>
                    </tr>
                
                    <tr>
                        <td>38</td>
                        <td><a href="/djangoapp/dealer/38/">Zamit Car Dealership</a></td>
                        <td>Dallas</td>
                        <td>821 New Castle Trail</td>
                        <td>75226</td>
                        <td>TX</td>
                    </tr>
                
                    <tr>
                        <td>39</td>
                        <td><a href="/djangoapp/dealer/39/">Stronghold Car Dealership</a></td>
                        <td>Fresno</td>
                        <td>990 Raven Road</td>
                        <td>93740</td>
                        <td>CA</td>
                    </tr>
                
                    <tr>
                        <td>40</td>
                        <td><a href="/djangoapp/dealer/40/">Greenlam Car Dealership</a></td>
                        <td>Merrifield</td>
                        <td>89375 Main Trail</td>
                        <td>22119</td>
                        <td>VA</td>
                    </tr>
                
                    <tr>
                        <td>41</td>
                        <td><a href="/djangoapp/dealer/41/">Tres-Zap Car Dealership</a></td>
                        <td>Baltimore</td>
                        <td>9 Sherman Hill</td>
                        <td>21275</td>
                        <td>MD</td>
                    </tr>
                
                    <tr>
                        <td>42</td>
                        <td><a href="/djangoapp/dealer/42/">Konklab Car Dealership</a></td>
                        <td>Jersey City</td>
                        <td>62 Manley Point</td>
                        <td>07310</td>
                        <td>NJ</td>
                    </tr>
                
                    <tr>
                        <td>43</td>
                        <td><a href="/djangoapp/dealer/43/">Opela Car Dealership</a></td>
                        <td>Atlanta</td>
                        <td>91 Declaration Avenue</td>
                        <td>31119</td>
                        <td>GA</td>
                    </tr>
                
                    <tr>
                        <td>44</td>
                        <td><a href="/djangoapp/dealer/44/">Veribet Car Dealership</a></td>
                        <td>Roanoke</td>
                        <td>0 Northview Point</td>
                        <td>24014</td>
                        <td>VA</td>
                    </tr>
                
                    <tr>
                        <td>45</td>
                        <td><a href="/djangoapp/dealer/45/">Konklux Car Dealership</a></td>
                        <td>Norfolk</td>
                        <td>283 Mockingbird Plaza</td>
                        <td>23509</td>
                        <td>VA</td>
                    </tr>
                
                    <tr>
                        <td>46</td>
                        <td><a href="/djangoapp/dealer/46/">Regrant Car Dealership</a></td>
                        <td>New Orleans</td>
                        <td>527 Hayes Junction</td>
                        <td>70165</td>
                        <td>LA</td>
                    </tr>
                
                    <tr>
                        <td>47</td>
                        <td><a href="/djangoapp/dealer/47/">Prodder Car Dealership</a></td>
                        <td>Stamford</td>
                        <td>840 Pepper Wood Crossing</td>
                        <td>06905</td>
                        <td>CT</td>
                    </tr>
                
                    <tr>
                        <td>48</td>
                        <td><a href="/djangoapp/dealer/48/">It Car Dealership</a></td>
                        <td>Tucson</td>
                        <td>48610 Morning Street</td>
                        <td>85710</td>
                        <td>AZ</td>
                    </tr>
                
                    <tr>
                        <td>49</td>
                        <td><a href="/djangoapp/dealer/49/">Veribet Car Dealership</a></td>
                        <td>Athens</td>
                        <td>222 Grasskamp Plaza</td>
                        <td>30605</td>
                        <td>GA</td>
                    </tr>
                
                    <tr>
                        <td>50</td>
                        <td><a href="/djangoapp/dealer/50/">Aerified Car Dealership</a></td>
                        <td>Atlanta</td>
                        <td>76 Clove Trail</td>
                        <td>30316</td>
                        <td>GA</td>
                    </tr>
                
            </tbody>
    </table>
    </div>
    <footer class="fixed-bottom">
          <div class="container-fluid">
            <a href="{% url 'djangoapp:contact' %}">Contact Us</a>
          </div>
    </footer>
</div>
   

    </body>

<script>
        $(function() {
          $('#table').bootstrapTable()
        })
    </script>

</html>
